:root {
  --holberton-red: #e1484c;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

div {
  padding: 0px 8px;
}

.App {
  position: relative;
  min-height: 100vh;

  --border-bottom: 4px solid red;
  --padding: 1.2em;
  --heading-font-size: 1.4rem;
  --gen-font-size: 1.4rem;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom: 3px solid var(--holberton-red);
}

.App-header img {
  width: 200px;
}

.App-header h1 {
  margin: auto auto auto 0;
  color: var(--holberton-red);
}

.App-body p {
  margin: 48px 0 20px 0;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-footer p {
  text-align: center;
  border-top: 3px solid var(--holberton-red);
  padding: 16px 0;
}

.form-inputs {
  display: flex;
  gap: 2em;
  align-items: center;
}

.form-inputs .input input {
  height: var(--gen-font-size);
  margin-left: 10px;
}
