.Notifications {
  padding: 2em;
  border: 2px dashed red;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.notify {
  display: flex;
  justify-content: space-between;
}

.notify p {
  font-weight: bold;
}

ul li[data="default"] {
  color: blue;
}

ul li[data="urgent"] {
  color: red;
}

.close {
  background-color: transparent;
  border: none;
}

.close img {
  display: inline;
}
